<html>
<head>
    <title>Home</title>
</head>
<body>
    <ul>
        {{ question.id }}
        <br>
        {{ question.question_text }}
        <br>
                <form method="post" action="{% url "vote" %}">

                    {% for choice in question.choice_set.all %}
                    {% csrf_token %}
                            <input type="radio" name="choice" value="{{ choice.id }}">
                        {{ choice.choice_text }} {{ choice.votes }}
                        <br>
                    {% endfor %}
                    <button>Vote</button>
                </form>

    </ul>
</body>
</html>
